<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.myappter480578" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MyAppTer</name>
  <description>
        An Ionic Framework and Cordova project.
    </description> 
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  
  <icon src="icon.png" />
  
  <icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
